# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ZillaRilla.iml
# Datasource local storage ignored files
/../../../../../../../../:\dev\Unity\Skola\ZillaRilla\.idea\.idea.ZillaRilla\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
